body {
    background: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
    overflow: hidden;
}
/* #specDesign {
    width: 100%;
    height: 95.7%;
    position: absolute;
    overflow: hidden;
    right: 0rem;
    top: 4rem;
} */
.triangle1 {
    width: 0; 
    height: 0; 
    border-top: 700px solid transparent;
    border-bottom: 1px solid transparent; 
    border-right: 200px solid gold; 
    opacity: .4;
    bottom: -10rem;
    left: -11rem;
    transform: rotate(-15deg);
    position: absolute;
    overflow: hidden;
}
.triangle2 {
    width: 0; 
    height: 0; 
    border-top: 200px solid transparent;
    border-bottom: 100px solid transparent; 
    border-left: 900px solid gold; 
    opacity: .4;
    bottom: -10rem;
    left: -11rem;
    position: absolute;
    overflow: hidden;
}
.triangle3 {
    width: 0; 
    height: 0; 
    border-top: 1px solid transparent;
    border-bottom: 100px solid transparent; 
    border-right: 400px solid gold; 
    opacity: .4;
    top: 4rem;
    right: 0rem;
    position: absolute;
    overflow: hidden;
}
.triangle4 {
    width: 0; 
    height: 0; 
    border-top: 100px solid transparent;
    border-bottom: 1px solid transparent; 
    border-right: 400px solid gold; 
    opacity: .4;
    transform: rotate(-90deg);
    top: 19rem;
    right: -15rem;
    position: absolute;
    overflow: hidden;
}
.nav {
    background: black;
    color: gold;
}

.nav a {
    color:gold;
}
.nav a:hover {
    color: black;
    border: 2px solid gold;
}
#home{
    text-align: center;
}
.jumbotron {
    background-color: transparent;
}
.jumbotron h1 {
    color: gold;
    padding-bottom: 1rem;
}
.underline {
    border: 2px gold solid;
    margin-bottom: 2rem;
}
#loginBar {
    text-align: center;
    background-color: black;
    color: gold;
    border-radius: 4px;
    left: 25%;
    padding: 2rem;
    border: 4px gold double;
    border-radius: 5px;
}
#brand{
    margin-right: 2rem;
}
.btn {
    background-color: gold;
    color: black;
    margin-top: 1rem;
}
.btn:hover {
    background-color: white;
    color: black;
}

.modal-content {
    background-color: black;
    border: gold double 4px;
    color: white;
}
.modal-content input{
    color: black;
}

#define{
    background-color: black;
    padding: 2rem;
    border: 4px double gold;
    color: gold;
    border-radius: 4px;
    margin-top: 10%;
}
#log{
    background-color: black;
    padding: 2rem;
    border: 4px double gold;
    color: gold;
    border-radius: 4px;
    margin-top: 10%;
}
#update-log {
    background-color: black;
    padding: 2rem;
    border: 4px double gold;
    color: gold;
    border-radius: 4px;
    margin-top: 10%;
}
#history {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 4px double gold;
    color: black;
    border-radius: 4px;
    margin-top: 10%;

}
#history h2 {
    color: gold;
}
canvas {
    padding-top: 2rem;
}