body {
    background: darkgrey;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav {
    background: black;
    color: white;
}

.nav a {
    color: white;
}
.nav a:hover {
    color: black;
    border: 2px solid gold;
}